<template>
  <div id="app">
    <header class="resume-header">
      <div class="resume-header-container">
        <h1>Patryk Szram</h1>
        <h2>Senior Full Stack Developer</h2>
      </div>
    </header>
    <main>
      <section class="resume-description">
        <p>Full stack developer familiar with PHP and JS (Vue). Knowing the web development and
          e-commerce sectors. Understanding good development practices, business goals and project
          requirements. Engaged, fast-learning self-taught, open to new solutions. A football
          enthusiast and proud father of two wonderful children.</p>
      </section>
      <section class="resume-timeline">
        <div class="timeline">

          <div class="timeline-header">
            My experience
          </div>

          <div class="timeline-row" v-for="(item, index) in experience" v-bind:key="index">
            <div class="timeline-period">
              <div class="timeline-row-left">{{item.time}}</div>
              <div class="timeline-row-right">
                <div class="text-gray">Main responsibilities</div>
              </div>
            </div>
            <div class="timeline-company">
              <div class="timeline-row-left">
                <div class="company-name">{{item.company}}</div>
                <div class="company-position">{{item.position}}</div>
                <ul class="timeline-skills">
                  <li class="skill-item" v-for="(skill, key) in item.skills" v-bind:key="key">
                    {{skill}}
                  </li>
                </ul>
              </div>
              <div class="timeline-row-right">
                <div class="company-description">{{item.description}}</div>
                <ul class="timeline-technologies">
                  <li class="technology-label">Main stack:</li>
                  <li class="technology-item" v-for="(technology, key) in item.technologies"
                      v-bind:key="key">
                    {{technology}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="timeline-more">+ 1</div>

        </div>
      </section>
      <section class="contact">
        <a class="contact-item" href="mailto:kontakt@patrykszram.pl" target="_blank">
          <div class="contact-icon"><i class="fa fa-envelope"></i></div>
          <div class="contact-name">kontakt@patrykszram.pl</div>
        </a>
        <a class="contact-item" href="callto:+48795884999" target="_blank">
          <div class="contact-icon"><i class="fa fa-phone"></i></div>
          <div class="contact-name">+48 795 884 999</div>
        </a>
        <a class="contact-item" href="http://in.patrykszram.pl" target="_blank">
          <div class="contact-icon"><i class="fab fa-linkedin-in"></i></div>
          <div class="contact-name">in.patrykszram.pl</div>
        </a>
        <a class="contact-item" href="http://github.patrykszram.pl" target="_blank">
          <div class="contact-icon"><i class="fab fa-github"></i></div>
          <div class="contact-name">github.patrykszram.pl</div>
        </a>
      </section>
    </main>
  </div>
</template>

<script>

  import '@fortawesome/fontawesome-free/scss/brands.scss';
  import '@fortawesome/fontawesome-free/scss/solid.scss';
  import '@fortawesome/fontawesome-free/scss/regular.scss';
  import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

  export default {
    name: 'App',
    data() {
      return {
        experience: [
          {
            time: 'november 2018 - PRESENT',
            company: 'Indigobird Sp. z o. o. / STABILIS.IO Sp. z o. o.',
            position: 'Lead Front-End Developer',
            description: 'Development and maintenance of original IDE environment for developing applications in-house using BPMN-like graphs scheme. Project finished by production implementation. Maintaining the HMI application, planning work with team to redesign and then supervising project progress.',
            skills: [
              'technology selection', 'unit testing', 'e2e testing', 'UX/UI design',
              'design for printing', 'code review', 'JIRA'
            ],
            technologies: [
              'Vue (+Vuex)', 'TypeScript', 'JavaScript (ES6+)', 'Yarn',
              'Cypress', 'Electron', 'Webpack', 'Rest API', 'WebSockets',
              'Diagram-JS', 'SVG (plain)', 'Monaco Editor'
            ]
          },
          {
            time: 'march 2017 - november 2018',
            company: 'MOVECLOSER Sp. z o. o.',
            position: 'Senior Fullstack developer / Team leader',
            description: 'Leading of development teams. Helping the team to achieve goals to finish the project in the required time. Organization of internal trainings for the team, which was to help understand the most common mistakes. Representing and participating in business meetings with clients.',
            skills: [
              'technology selection', 'work organization of team', 'code review',
              'understanding business goals', 'scrum'
            ],
            technologies: [
              'Vue (+Vuex)', 'JavaScript (ES6+)', 'SCSS', 'NPM',
              'Webpack', 'PHP (OOP)', 'SQL',
              'Wordpress', 'Woocommerce', 'Prestashop', 'Apache/Nginx', 'Linux'
            ]
          },
          {
            time: 'december 2015 - mar 2017',
            company: 'CODERABBIT',
            position: 'Fullstack developer / Owner',
            description: 'Implementation of projects for independently acquired clients from the e-commerce sector. Creating store systems with additional functionalities and production implementations based on Continous Integration. Self-study via online courses.',
            skills: [
              'technology selection', 'work organization', 'self-study', 'UX/UI design',
              'understanding business goals', 'SEO practices'
            ],
            technologies: [
              'JavaScript (ES6+)', 'jQuery', 'SCSS', 'NPM',
              'Bootstrap', 'Gulp', 'PHP (OOP)', 'SQL',
              'Wordpress', 'Woocommerce', 'Nginx',
            ]
          },
          {
            time: 'november 2011 - november 2015',
            company: 'FLASH-MEDIA',
            position: 'Fullstack developer',
            description: 'Implementation of projects for SEO / SEM agencies. Writing and implementing custom tools to analyzing users. Creating dedicated applications that allow you to plan and implement personalized marketing.',
            skills: [
              'technology selection', 'work organization', 'self-study', 'UX/UI design',
              'SEO practices', 'API integrations'
            ],
            technologies: [
              'JavaScript (ES6+)', 'jQuery', 'SCSS', 'Bootstrap', 'Gulp', 'PHP', 'SQL',
              'RWD', 'AMP.js', 'Adobe Photoshop', 'SEO',
            ]
          },
        ]
      }
    },
    components: {}
  }
</script>

<style lang="scss">

  $primary: #fff;
  $secondary: #2A3642;
  $gold: #d4b966;
  $gray: #bbb;

  @media print {
    @page {
      size: A4; /* DIN A4 standard, Europe */
      margin: 0;
    }
    html, body {
      width: 210mm;
      height: 297mm;
      background: #fff;
      overflow: visible;
    }
  }

  * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.6;
  }

  html {
    font-size: 12px;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  .text-gray {
    color: $gray;
  }

  .resume-header {
    background-color: #2a3642;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2336404b' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    height: 150px;
    text-align: center;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;

    h1, h2 {
      text-transform: uppercase;
      letter-spacing: 4px;
      margin: 0;
    }

    h1 {
      font-size: 2.2rem;
      color: $gold;
    }

    h2 {
      font-size: .8rem;
      margin-top: 1.5rem;
    }

  }

  .resume-description {
    position: relative;
    padding: 1rem 2rem;
    text-indent: 2rem;
    width: 70%;
    margin: 1rem auto;

    &:before {
      content: "“";
      display: block;
      font-size: 3rem;
      line-height: 1rem;
      position: absolute;
      left: 0;
      top: 2.4rem;
      font-weight: 600;
      color: $gray;
    }
  }

  $timeline-line-width: 2px;

  .timeline {
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }

  .timeline-header {
    text-transform: uppercase;
    font-weight: 500;
    margin: 1rem auto;
    text-align: center;
    color: darken($gold, 10%);
    letter-spacing: 3px;
  }

  .timeline-row {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem 0;

    &:before {
      content: "";
      display: block;
      height: 100%;
      width: $timeline-line-width;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background: $gold;
    }

    &:first-of-type:before {
      background: linear-gradient(to bottom, #fff, $gold 15%);
    }

  }

  .timeline-row-left,
  .timeline-row-right {
    flex: 1;
    margin: 0 1.5rem;
  }

  .timeline-row-left {
    text-align: right;
  }

  .timeline-more {
    position: relative;
    width: 40px;
    height: 15px;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    font-weight: 400;
    border: $timeline-line-width solid $gold;
    color: $gold;
    border-radius: .25rem;
  }

  .timeline-period,
  .timeline-company {
    display: flex;
    width: 100%;
  }

  .timeline-period {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: $timeline-line-width * 3;
      height: $timeline-line-width * 3;
      background: $gold;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:after {
      content: "";
      display: block;
      width: $timeline-line-width;
      height: $timeline-line-width;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .timeline-period,
  .timeline-technologies,
  .timeline-skills {
    font-size: 80%;
  }

  .timeline-technologies,
  .timeline-skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -.25rem;
    list-style: none;

    > li {
      display: block;
    }
  }

  .skill-item {
    padding: 0 .5rem;
    font-size: 80%;
    color: #666;
    margin: .25rem 1px 0 0;
    position: relative;

    &:not(:first-of-type):before {
      content: "";
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: $gray;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .technology-label {
    padding: 0 .25rem;
    font-size: 80%;
    margin: .25rem 1px 0 0;
    color: darken($gold, 15%);
  }

  .technology-item {
    padding: 0 .25rem;
    font-size: 80%;
    border: .5px solid lighten($gray, 10%);
    color: #666;
    margin: .25rem .15rem 0 0;
    border-radius: .25rem;
  }

  .timeline-skills {
    justify-content: flex-end;
  }

  .company-name {
    font-weight: 400;
    margin-top: 1rem;
  }

  .company-description {
    font-size: 80%;
    margin: 1rem 0;
  }

  .company-position {
    font-weight: 400;
    color: $gold;
    font-size: 80%;
    margin-bottom: 1rem;
  }

  .contact {
    padding: 1rem;
    display: flex;
    font-size: 80%;
    width: 70%;
    margin: 0 auto;
  }

  .contact-item {
    flex: 1;
    text-align: center;
    display: block;
    color: darken($gold, 20%);
    text-decoration: none;
  }

  .contact-icon {
    font-size: 120%;
    color: $secondary;
  }

</style>
